:root {
    --primary-color: #00b5d5;
    --secondary-color: #0077b5;
    --gray-color: #808080;
    --background-color: #ececec;
}

body {
    background-color: var(--background-color);
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.12);
    max-width: 800px;
    width: 100%;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product-details .image img {
    max-width: 100%;
    border-radius: 10px;
}

.product-details .info {
    margin-top: 20px;
}

.product-details .info h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-details .info p {
    color: var(--gray-color);
    margin-bottom: 10px;
}

.product-details .options {
        margin-bottom: 30px;
    }
    
    .product-details .options a {
        color: white;
        background-color:#00b5d5;
        display: inline-block;
        padding: 10px 15px;
        text-decoration: none;
        font-weight: 600;
        font-size: 12px;
        border-radius: 50px;
    }
    
    .product-details .options a:hover {
        background-color: #0077b5;
    }             

